<h2>Поиск номера телефона</h2>
<form id="searchForm" method="get" action="/">
    <input class="form-control" type="text" placeholder="номер телефона" pattern="^[\d\)\(\+ -]+$" title="номер телефона" required>
    <button class="btn btn-primary btn-raised" type="submit">поиск</button>
</form>