@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Olx stats</h2>

<ul>
    <li>Download jobs: @(Model["DownloadJobsCount"])</li>
    <li>Export jobs: @(Model["ExportJobsCount"])</li>
    <li>Olx ads: @(Model["ZnakerOlxCount"])</li>
</ul>